// Syntax for themes light
.light {
  @import "syntax-light-monokai";
}
// Syntax for themes dark
.dark {
  @import "syntax-dark-monokai";
}
// Syntax for gist dark
@import "syntax-gist-dark";

// Themes is in assets/css/tailwind.css
